<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>GitHub Avatar Redirect</title>
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <header>
    <h1>GitHub Avatar Redirect</h1>
    <p class="intro">A direct link to a GitHub user's avatar.</p>
    </header>
    <p>Try going to <a href="<%= homeURL %>/paulmolluzzo"><%= homeURL %>/paulmolluzzo</a></p>
    <p><a href="https://github.com/paulmolluzzo/github-avatar-redirect/">Find the code on GitHub</a>.</p>

    <footer>
      <iframe src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&repo=github-avatar-redirect&type=watch&count=true"
allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&repo=github-avatar-redirect&type=fork&count=true"
allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&type=follow"
allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
      <p><small>MIT ©2016 <a href="http://paul.molluzzo.com">Paul Molluzzo</a></small></p>
    </footer>
  </div>
</body>
</html>
